ion-slide {
  background-color: #eeeeee;
}

ion-slide img {
  width: 100%;
  height: 100%;
  position: relative;
}

.wbt {
  position: absolute;
  color: red;
  left: 37.5%;
  bottom: 17%;
  font-size: 20px;
}
